@charset "UTF-8";

body {
    background-color: #87CEEB; /* Light Sky Blue as a background color */
    font-family: 'Roboto', sans-serif; /* Change font family to Roboto or any other suitable font */
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f8f9fa; /* Light Gray background color */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #007BFF; /* Dodger Blue for the heading */
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #495057; /* Dark Gray for labels */
}

.table {
    background-color: #ffffff; /* White background for the table */
}

.table th {
    color: #007BFF; /* Dodger Blue for table header text */
}

.table td {
    color: #495057; /* Dark Gray for table data text */
}

.back-link {
    display: block;
    text-align: center;
    color: #007BFF; /* Dodger Blue for the back link */
    margin-top: 20px;
}
